body{
    background-image: url(./img/fluid-abstract-blue-background-free-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.start_button:hover{
    background-color: white;

}
a:hover{
    color: #000E56;
    
}
.start_button{
    background-color: #000E56;
    height: 3rem;
    width: 10rem;
    border-radius: 15px;
    padding: 10px;
    margin: 3px;
    border: none;
    

    
}

img{
    height: 250px;
    width: 270px;
    margin-top: 30px;
    margin-bottom: 40px;
}