body {
    background-image: url(./img/fluid-abstract-blue-background-free-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Comme', sans-serif;
}

a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.start_button:hover {
    background-color: white;
}

.start_button:hover a {
    color: #000E56;
}

.start_button {
    background-color: #000E56;
    height: 3rem;
    width: 10rem;
    border-radius: 15px;
    padding: 10px;
    margin: 3px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

img {
    height: 250px;
    width: 270px;
    margin-top: 30px;
    margin-bottom: 40px;
}

h2 {
    color: white;
}

footer {
    margin-top: 100px;
}

small {
    color: rgb(255, 255, 255);

}

@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 10px;

        height: 400px;
        width: 100%;
    }

    small {
        font-size: 0.6rem;

    }

    .best_score {
        margin-top: 30px;
    }
}